table {
    border: 1px solid black;
    /* eliminates double border effect */
    border-collapse: collapse;
}

td, th {
    border-bottom: 1px solid purple;
    padding: 0.5rem;
}

/* eliminate border from the last child of td */
tfoot tr:last-child td {
    border-bottom: none;
}