button, input, select, textarea {
    font-size: 100%;
}

input, textarea, select {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

label {
    display: block;
}

/* display checkboxes inline */
input[type="checkbox"] + label {
    display: inline;
}

/* remove lines around the fieldset */
fieldset {
    border-width: 0;
    padding: 0;
}