button, input, select, textarea {
    font-size: 100%;
}

input, textarea, select {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#styled input, #styled button {
 border: 2px solid purple;
}

input, button {

}

