input[type="checkbox"] {
    opacity: 0;
    width: 0;
    margin: 0;
}

input[type="checkbox"] + label {
    border: 2px solid purple;
    background-color: khaki;
    padding: 4px 10px;
    border-radius: 7px;
    display: inline-block;
    width: 4em;
    text-align: center;
}

input[type="checkbox"]:checked + label {
  border-color: orange;
  background-color: lavender;
  font-weight: bold;
}

input, textarea, select {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

select {
    display: block;
    margin-bottom: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: white;
}

select:not([multiple]) {
    background: url(double-arrow.png) right center no-repeat;
    background-size: 1em 1em;
    padding-right: 1em;
}

select {
    padding: 8px 1em 8px 8px;
}