button, input, select, textarea {
    font-size: 100%;
}

input, textarea, select {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*
input:focus {
    background-color: purple;
}

input:active {
    background-color: goldenrod;
}

:disabled {
    background-color: red;
}*/

/* applying styles to label not checkbox */
input[type="checkbox"]:checked + label {
    background-color: greenyellow;
}

/*
input[type="number"]:valid {
    border: 5px solid green;
}

input[type="number"]:invalid {
    border: 5px solid saddlebrown;
}


input[type="number"]:in-range {
    border: 5px solid green;
}

input[type="number"]:out-of-range {
    border: 5px solid saddlebrown;
}
*/

input:required {
    border: 2px solid purple;
}

